.step-row {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  z-index: 99;
}

.step-row-translating {
  background-color: orange;
}

.step-left-line-container {
  display: flex;
}

.step-left-line {
  margin-left: -10px;
  margin-top: 40px;
  height: 120%;
  width: 10px;
  border-left: 1.5px solid black;
}

.step-left-line-origin {
  border-top: 1.5px solid black;
}

.step-left-line-final {
  border-left: 0;
  border-top: 0;
  height: 68px;
  margin-top: -28px;
  border-bottom: 1.5px solid black;
  border-left: 1.5px solid black;
}

.step-lang-box {
  margin-right: 30px;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.step-lang-box-origin {
  background-color: rgba(190, 190, 190, 0.7);
}

.step-lang-box-top {
  position: absolute;
  width: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step-lang-little-button {
  margin: 3px;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-lang-box-bottom {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-picker {
  min-width: 66px;
}

.language-picker-spacer {
  min-width: 66px;
  text-align: center;
}

.step-text {
  min-width: 300px;
  max-width: 50vw;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.step-text > p {
  margin: 0px;
}

.step-text > textarea {
  margin-left: -5px;
  margin-top: -5px;
  width: 100%;
  height: 100%;
  border: 0 solid rgb(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
}
