@import "tailwindcss";

:root {
  --background: rgb(145, 190, 192);
  --foreground: #171717;
  --dark-gray: rgb(40, 44, 52);
  --dark-gray-translucent: rgba(40, 44, 52, 0.6);
  --highlight: #e1a493d5;
}
