.stepRow {
  margin-top: 0.8em;
  display: flex;
  flex-direction: row;
  z-index: 99;
}

.stepRowTranslating {
  background-color: orange;
}

.stepLeftLineContainer {
  display: flex;
}

.stepLeftLine {
  margin-left: -0.5em;
  margin-top: 2.5em;
  height: 120%;
  width: 0.5em;
  border-left: 1.5px solid black;
}

.stepLeftLineOrigin {
  border-top: 1.5px solid black;
}

.stepLeftLineFinal {
  border-left: 0;
  border-top: 0;
  height: 4.3em;
  margin-top: -1.7em;
  border-bottom: 1.5px solid black;
  border-left: 1.5px solid black;
}

.stepLangBox {
  margin-right: 1em;
  height: 5em;
  width: 5em;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.stepLangBoxOrigin {
  background-color: rgba(190, 190, 190, 0.7);
}

.stepLangBoxTop {
  position: absolute;
  width: 4.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stepLangLittleButton {
  margin: 0.2em;
  height: 1em;
  width: 1em;
  background-color: var(--dark-gray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepLangBoxBottom {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languagePicker {
  min-width: 4em;
}

.languagePickerSpacer {
  min-width: 4em;
  text-align: center;
}

.stepText {
  width: 18em;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
}

.stepText > textarea {
  margin: -0.5em;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5em;
}
