.App {
  min-height: 100vh;
  background-color: rgb(145, 190, 192);
}

.App-header {
  padding: 0 3vw 0 3vw;
  display: flex;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 3vw 3vw 0 3vw;
}

.origin-language {
  border: 1px solid black;
  background-color: rgba(179, 179, 179, 0.755);
  padding: 5px;
  margin-bottom: 5px;
}

.origin-language-button {
  border: 1px solid black;
  background-color: rgba(179, 179, 179, 0.755);
  padding: 5px;
  margin-bottom: 10px;
}
