.App {
  min-height: 100vh;
  background-color: rgb(145, 190, 192);
}

.App-header {
  padding: 0 3vw 0 3vw;
  display: flex;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 3vw 3vw 0 3vw;
}

.button {
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: rgba(179, 179, 179, 0.755);
  padding: 5px;
}

.origin-language-picker {
  margin-left: 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
}

.origin-text > input {
  border: 1px solid black;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

.translation {
  border: 1px solid black;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
