.instructions {
  margin-bottom: 2vh;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5vh 2vh 0.5vh 2vh;
}

.no-bottom-margin {
  margin-bottom: 0.5vh;
}

.instructions > .sub-step {
  margin: 0 0 0 2vh;
}
