.step-row {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.step-row-translating {
  background-color: orange;
}

.step-lang-box {
  margin-right: 30px;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}

.step-lang-box-top {
  position: absolute;
}

.step-lang-little-button {
  margin: 3px;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-lang-box-bottom {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-picker {
  min-width: 66px;
}

.language-picker-spacer {
  min-width: 66px;
  text-align: center;
}

.step-text {
  min-width: 300px;
  max-width: 50vw;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.step-text > p {
  border: 1px solid purple;
}

.step-text > textarea {
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}
